<div class="px-5">
  <div>
    <h1 class="bi-capslock">from HTML</h1>
    <h1 i18n="@@Title-html">Testing the working of angular localize. Testing done by {{placeHolder}} in application {{appName}}</h1>
    <h1 i18n="@@Title-html-empty">Testing the working of angular localize. Testing done by developer in application 18n POC</h1>
    <h1 i18n="@@Title-empty">{{this.placeHolder}}</h1>
    <h1 class="bi-capslock">from TS</h1>
    <h1>{{this.combinedMessage}}</h1>
    <h1>{{this.combinedMessage1}}</h1>
    <h1>{{this.emptyPlaceholder}}</h1>
  </div>
</div>
